<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <label><h4><b>Criterio de busqueda</b></h4></label> 
      <select class="browser-default  mdb-select md-form colorful-select ">
        <option selected> </option>
        <option value="1">Velocidad transf. ascendente</option>
        <option value="2">Velocidad transf. descendente</option>
      </select>
    </div>

    <div class="col-sm">
      

      <label style="margin:5px;"><h4><b>Cantidad de registros</b></h4></label>
      <div class="def-number-input number-input safari_only">
        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus"></button>
        <input class="quantity" min="0" name="quantity" value="1" type="number">
        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button></div>
      
      </div>
      <div class="col-sm">
      <button type="button" class="btn btn-success btn-lg">Buscar</button>
    </div>
  </div></div>





<div class="table-wrapper-scroll-y my-custom-scrollbar">

  <table class="table table-bordered table-striped mb-0">
    <thead>
      <tr>
        <th scope="col">Titulo</th>
        <th scope="col">Extension</th>
        <th scope="col">Velocidad transf.</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of lista;let indice=index">
        <th>{{item.titulo}}</th>
        <td>{{item.ext}}</td>
        <td>{{item.vel}}</td>
      </tr>
      </tbody>
  </table>

</div>