<br>
<div><div class= " float-left " style="margin-left:250px;">
<table mdbTable class="z-depth-1 table-bordered table-sm"  >
  <thead>
    <tr>
      <th scope="row">Titulo</th>
      <th scope="row">Fecha </th>
      <th scope="row">Extension</th>
    </tr>
    <tr>
      <td> Un paraiso en la tierra </td>
      <td> 28/08/89 </td>
      <td> pdf </td>
    </tr>
    <tr>
      <td> Un paraiso en la tierra </td>
      <td> 28/08/89 </td>
      <td> pdf </td>
    </tr>
    <tr>
      <td> Un paraiso en la tierra </td>
      <td> 28/08/89 </td>
      <td> pdf </td>
    </tr>
  </thead>
  <tbody>
   
   
  </tbody>
</table></div>

<div class ="float-center" style="margin-right:200px;">
  
  <div><button type="button" class="btn btn-primary">Agregar</button></div>
  <div><button type="button" class="btn btn-success">Modificar</button></div>
  <div><button type="button" class="btn btn-danger">Borrar</button></div>
</div>
</div>