.contenedor {
  align-items: flex-start;
  align-content: flex-start;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
}

th {
  text-align: center;
}

.lapicito {
  visibility: hidden;
}

td.editable:hover .lapicito {
  visibility: visible;
}

.editable:hover {
  cursor: pointer;
}

.masBoton {
  font-size: 2em;
}