<br>
<div class="contenedor">
  <div>
    <table mdbTable class="z-depth-1 table-bordered table-sm">
      <thead>
        <tr>
          <th scope="row">Título</th>
          <th scope="row">Fecha</th>
          <th scope="row">Extensión</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let archivo of archivos" id=archivo-{{archivo.id}} (click)="seleccionarArchivo(archivo.id)" data-toggle="modal" data-target="#amModal">
          <td class="editable"><i class="far fa-edit lapicito"></i> {{archivo.titulo}}</td>
          <td>{{archivo.fecha}}</td>
          <td>{{getExtension(archivo.extension)}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>
    <div>
      <button type="button" class="btn btn-success" (click)="seleccionarArchivo(null)" data-toggle="modal" data-target="#amModal">
        Agregar
      </button>
    </div>
    <div>
      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#borrarModal">
        Borrar
      </button>
    </div>
  </div>
</div>

<app-agregar-modificar [archivo]="archivoSeleccionado"></app-agregar-modificar>
<app-modal-confirmacion></app-modal-confirmacion>