

<br><br>
<div class="caja algin-center" align="center"><!-- Button trigger modal -->
<button style="margin: 15px" type="button" class="btn btn-info" (click)="abrir()" >
  Gestion De Archivos
</button>

<button style="margin: 15px" type="button" class="btn btn-info" data-toggle="modal" data-target="#DatosDeDescargas">
  Datos De Descargas
</button>
<br>
<button style="margin: 15px" type="button" class="btn btn-info" data-toggle="modal" data-target="#DatosDeEncuestas">
  Datos De Encuestas
</button>
<button  style="margin: 15px" type="button" class="btn btn-info" data-toggle="modal" data-target="#DatosDeCategorias">
  Datos De Categorias
</button></div>
<!--modalDatosDeDescargas -->
<div class="modal fade" id="DatosDeDescargas" tabindex="-1" role="dialog" aria-labelledby="GestionDeArchivos" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Datos De Descargas</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Ordenar por 
      <div class="btn-group">
          <button class="btn btn-secondary btn-sm" type="button">
            Small split button
          </button>
          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            ...
          </div>
        </div>
        <button type="button" class="btn btn-success">Filtrar</button>
        <br>
        Cantidad Registros
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        
          <br>
          Fecha
          <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)"> 
          
    Desde
    <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
            
              Hasta
              <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
              


      

     
    </div>
    <div class="modal-footer">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Categoria</th>
            <th scope="col">Velocidad transferencia</th>
            <th scope="col">Fecha</th>
            <th scope="col">Tipo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!--modalDatosDeEncuestas -->
<div class="modal fade" id="DatosDeEncuestas" tabindex="-1" role="dialog" aria-labelledby="DatosDeEncuestas" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Datos De Encuestas</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Ordenar por 
      <div class="btn-group">
          <button class="btn btn-secondary btn-sm" type="button">
            Small split button
          </button>
          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            ...
          </div>
        </div>
        <button type="button" class="btn btn-success">Filtrar</button>
        <br>
        Cantidad Registros
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        
          <br>
          Tipo 
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm" type="button">
              Small split button
            </button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              ...
            </div>
          </div>
          Categoria 
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm" type="button">
              Small split button
            </button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              ...
            </div>
          </div>


          


      

     
    </div>
    <div class="modal-footer">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Tipo</th>
            <th scope="col">Categoria</th>
            <th scope="col">Media De Puntaje</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<!--modalDatosDeCategoria -->
<div class="modal fade" id="DatosDeCategorias" tabindex="-1" role="dialog" aria-labelledby="DatosDeCategorias" aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Datos De Categorias</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Ordenar por 
      <div class="btn-group">
          <button class="btn btn-secondary btn-sm" type="button">
            Small split button
          </button>
          <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            ...
          </div>
        </div>
        <button type="button" class="btn btn-success">Filtrar</button>
        <br>
        Cantidad Registros
        <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        
          <br>
          Tipo 
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm" type="button">
              Small split button
            </button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              ...
            </div>
          </div>
          Categoria 
          <div class="btn-group">
            <button class="btn btn-secondary btn-sm" type="button">
              Small split button
            </button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              ...
            </div>
          </div>


          


      

     
    </div>
    <div class="modal-footer">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Tipo</th>
            <th scope="col">Categoria</th>
            <th scope="col">EdadMedia</th>
            <th scope="col">Transferencia Media</th>
            <th scope="col">%</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

