<br><br>
<div class="caja algin-center fondo-blur" align="center">
  <div>
    <button type="button" class=" btn aqua-gradient">
      Gestión de archivos
    </button>

    <button type="button" class="btn aqua-gradient">
      Datos De Descargas
    </button>
  </div>
  
  <div>
    <button type="button" class="btn aqua-gradient">
        Datos De Encuestas
    </button>
    <button type="button" class="btn aqua-gradient">
      Datos De Categorias
    </button></div>
</div>
<!-- Falta alinear bien los botones -->