<div class="modal fade" id="amModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog cascading-modal" role="document">

    <div class="modal-content">

      <div class="modal-header primary-color white-text">
        <h4 class="title">
          <i class="fa fa-pencil-alt"></i> Gestión de archivos</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">

        <div>
          <label for="materialFormNameModalEx1">Título</label>
          <input value="{{archivo?.titulo}}" type="text" id="materialFormNameModalEx1" class="form-control form-control-sm">
        </div>

        <div class="md-form form-sm">
          <select [(ngModel)]="extensionSeleccionada" class="browser-default custom-select">
              <option *ngFor="let item of extensiones" [ngValue]="item.id">{{item.extension}}</option>
            </select>
        </div>

        <div *ngFor="let item of categorias">
          <input type="checkbox" value="{{item.id}}" id="{{item.id}}" checked={{categoriaChecked(item.id)}}>
          <label for="{{item.id}} ">{{item.nombre}}</label>
        </div>

        <div>
          <label for="inputMDEx ">Fecha</label>
          <input value="{{archivo?.fecha}} " type="date " id="inputMDEx " class="form-control form-control-sm ">
        </div>

        <br/>
        <div class="input-group ">
          <div class="input-group-prepend ">
            <span class="input-group-text " id="inputGroupFileAddon01 ">Subir</span>
          </div>
          <div class="custom-file ">
            <input [(ngModel)]="inputArchivo " (change)="fileProgress() " type="file " class="custom-file-input " id="inputArchivo " aria-describedby="inputGroupFileAddon01 ">
            <label class="custom-file-label " for="inputArchivo ">Seleccionar archivo</label>
          </div>
        </div>

      </div>

      <div class="modal-footer ">
        <button class="btn btn-primary " (click)="onSubmit() ">Guardar</button>
        <button class="btn btn-danger " data-dismiss="modal ">Cancelar</button>
      </div>

    </div>
  </div>
</div>