<div class="modal fade" id="amModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-dialog cascading-modal" role="document">

    <div class="modal-content">

      <div class="modal-header primary-color white-text">
        <h4 class="title">
          <i class="fa fa-pencil-alt"></i> Gestión de archivos</h4>
        <button type="button" class="close waves-effect waves-light" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>

      <div class="modal-body">

        <div>
          <label for="materialFormNameModalEx1">Título</label>
          <input [(ngModel)]="contenido.titulo" type="text" id="materialFormNameModalEx1" class="form-control form-control-sm">
        </div>
       <br>
        <label for="materialFormNameModalEx1">Extensión</label>
       
           <select [(ngModel)]="contenido.extensionArchivo" class="browser-default custom-select">
              <option selected>{{contenido.extensionArchivo}}</option>
              <option *ngFor="let item of extensiones" [ngValue]="item.id">{{item.extension}}</option>
            </select>
            <br><br>
       <div class="margenIzq">
           <tr *ngFor="let categoria of categorias ; let i = index">
            
                <input type="checkbox" class="form-check-input" id="defaultUnchecked" name="cats" id="i">
                <label class="form-check-label" for="defaultUnchecked">{{categoria.descCategoria}}</label>
            
        </tr>  </div>

        <div> <br>
          <label for="example-date-input" class="">Fecha Publicación</label>
      <input class="form-control" type="date" value="contenido.fechaPublicacion" id="example-date-input" [(ngModel)]="contenido.fechaPublicacion"
        min="{{desde}}" max="{{minimo}}">
        </div>

        <br/> <br>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Subir</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Elegir archivo</label>
          </div>
        </div>
        

      </div>

      <div class="modal-footer ">
        <button class="btn btn-primary " (click)="onSubmit() ">Guardar</button>
        <button class="btn btn-danger " data-dismiss="modal ">Cancelar</button>
      </div>

    </div>
  </div>
</div>